/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #739072;
  --matr-navbar-bg-rgb: 79, 111, 82;
  --beige-bg: #ECE3CE;
  --darkest-green: #3A4D39;
  --bs-alert-bg: var(--darkest-green);
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light #signup-page {
  /*--bs-alert-bg: var(--matr-navbar-bg);
  background-color: var(--matr-navbar-bg);*/
}

.page-background {
  background-color: var(--beige-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.landing-picback {
  background-image: url("https://bloximages.newyork1.vip.townnews.com/manoanow.org/content/tncms/assets/v3/editorial/2/19/21905a60-46d9-11ea-9017-ebb58e267548/5e38a817c675d.image.jpg?resize=1396%2C930");
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
  min-height: 60vh; /* Set a minimum height to cover the entire viewport */
}
